@use '../mixin/configImgMixer.scss';
.aboutHeaderRoom{
    height: 19.563em
}
.contentAuxRoom{
    width: max-content;
    height: max-content;
    margin: 0 auto;
    padding: 2rem 0;
}
.slider{
    &__content{
        height: auto;
        &__topbar{
            top: 15.5em;
            box-shadow: 0px 8px 16px 0px #8A8A8A0D;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &__img{
                display: inline-block;
                @include configImgMixer.imgconfig('../../sources/imgs/topbar/bed.svg',16px,16px);
            }
            &__img2{
                display: inline-block;
                @include configImgMixer.imgconfig('../../sources/imgs/topbar/wifi.svg',16px,16px);
            }
            &__img3{
                display: inline-block;
                @include configImgMixer.imgconfig('../../sources/imgs/topbar/car.svg',16px,16px);
            }
            &__img4{
                display: inline-block;
                @include configImgMixer.imgconfig('../../sources/imgs/topbar/acondicionado.svg',16px,16px);
            }
            &__img5{
                display: inline-block;
                @include configImgMixer.imgconfig('../../sources/imgs/topbar/gym.svg',16px,16px);
            }
            &__img6{
                display: inline-block;
                @include configImgMixer.imgconfig('../../sources/imgs/topbar/tabaco.svg',16px,16px);
            }
            &__img7{
                display: inline-block;
                @include configImgMixer.imgconfig('../../sources/imgs/topbar/alcohol.svg',16px,16px);
            }
        }
    }
    &__pagination{
        text-align-last: center;
        margin-top: 3em;
        margin-bottom: 4em;
        &__back,&__next,&__one,&__two,&__three,&__select,&__ten{
            display: inline-block;
            margin-right: 2em;
        }
        &__one,&__two,&__three,&__select,&__ten{
            font-family: 'oswald';
            font-size: 0.88rem;
            font-weight: 700;
            line-height: 19px;
            text-align: center;
        }
        &__two{
            width: 39px;
            height: 39px;
            color: #fff;
            background-color: #BEAD8E;
            align-content: center;
        }
        &__back,&__next{
            vertical-align: middle;
        }
    }
}
.room{
    &__imgRoom{
        width: 100%;
        height: 100%;
    }
    &__tit{
        font-family: 'OldStandardTT-Regular';
        font-size: 1.50rem;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.7200000286102295px;
        text-align: center;
        margin-bottom: .8em;
    }
    &__p{
        display: block;
        margin: 0 auto;
        margin-bottom: .8em;
        width: 18.125em;
        font-family: 'Roboto';
        font-size: 0.88rem;
        font-weight: 400;
        line-height: 24px;
        color: #777777;
    }
    &__content{
        text-align: -webkit-center;
        &__precio{
            font-family: 'Archivo-Regular';
            font-size: 1rem;
            font-weight: 700;
            line-height: 17.41px;      
            color: #BEAD8E;
        }
        &__state{
            font-family: 'Archivo-Regular';
            font-size: 1rem;
            font-weight: 700;
            line-height: 17.41px;
            color: #BDBDBD;
        }
    }
}

@media only screen and (min-width:1000px){
    .aboutheader{
        &__tit{
            &--dim{
                width: 27.875em !important;
            }
        }
    }
    .swiperrooms--dim{
        width: 23.125em !important;
        height: 27.375em !important;
    }
    .room{
        &__imgRoom{
            &--dim{
                height: 240px;
            }
        }
    }
    .slider{
        &__content{
            &__topbar{
                width: 19.375em;
                height: 3.125em;
                right: 2em;
            }
        }
    }
    .wrapper--grid{
        display: grid;
        grid-column: 3;
    }
}