.aboutHeaderRoom {
  height: 19.563em;
}

.contentAuxRoom {
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0 auto;
  padding: 2rem 0;
}

.slider__content {
  height: auto;
}
.slider__content__topbar {
  top: 15.5em;
  box-shadow: 0px 8px 16px 0px rgba(138, 138, 138, 0.0509803922);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.slider__content__topbar__img {
  display: inline-block;
  background-image: url("../../sources/imgs/topbar/bed.svg");
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__content__topbar__img2 {
  display: inline-block;
  background-image: url("../../sources/imgs/topbar/wifi.svg");
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__content__topbar__img3 {
  display: inline-block;
  background-image: url("../../sources/imgs/topbar/car.svg");
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__content__topbar__img4 {
  display: inline-block;
  background-image: url("../../sources/imgs/topbar/acondicionado.svg");
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__content__topbar__img5 {
  display: inline-block;
  background-image: url("../../sources/imgs/topbar/gym.svg");
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__content__topbar__img6 {
  display: inline-block;
  background-image: url("../../sources/imgs/topbar/tabaco.svg");
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__content__topbar__img7 {
  display: inline-block;
  background-image: url("../../sources/imgs/topbar/alcohol.svg");
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider__pagination {
  -moz-text-align-last: center;
       text-align-last: center;
  margin-top: 3em;
  margin-bottom: 4em;
}
.slider__pagination__back, .slider__pagination__next, .slider__pagination__one, .slider__pagination__two, .slider__pagination__three, .slider__pagination__select, .slider__pagination__ten {
  display: inline-block;
  margin-right: 2em;
}
.slider__pagination__one, .slider__pagination__two, .slider__pagination__three, .slider__pagination__select, .slider__pagination__ten {
  font-family: "oswald";
  font-size: 0.88rem;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
}
.slider__pagination__two {
  width: 39px;
  height: 39px;
  color: #fff;
  background-color: #BEAD8E;
  align-content: center;
}
.slider__pagination__back, .slider__pagination__next {
  vertical-align: middle;
}

.room__imgRoom {
  width: 100%;
  height: 100%;
}
.room__tit {
  font-family: "OldStandardTT-Regular";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.7200000286px;
  text-align: center;
  margin-bottom: 0.8em;
}
.room__p {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.8em;
  width: 18.125em;
  font-family: "Roboto";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 24px;
  color: #777777;
}
.room__content {
  text-align: -webkit-center;
}
.room__content__precio {
  font-family: "Archivo-Regular";
  font-size: 1rem;
  font-weight: 700;
  line-height: 17.41px;
  color: #BEAD8E;
}
.room__content__state {
  font-family: "Archivo-Regular";
  font-size: 1rem;
  font-weight: 700;
  line-height: 17.41px;
  color: #BDBDBD;
}

@media only screen and (min-width: 1000px) {
  .aboutheader__tit--dim {
    width: 27.875em !important;
  }
  .swiperrooms--dim {
    width: 23.125em !important;
    height: 27.375em !important;
  }
  .room__imgRoom--dim {
    height: 240px;
  }
  .slider__content__topbar {
    width: 19.375em;
    height: 3.125em;
    right: 2em;
  }
  .wrapper--grid {
    display: grid;
    grid-column: 3;
  }
}/*# sourceMappingURL=room.css.map */