.aboutheader {
  width: 100%;
  height: 16.563em;
  background: #333333;
  padding: 0 1.25em;
  padding-top: 4.688em;
  position: relative;
}
.aboutheader__sub {
  font-family: "Archivo-Regular";
  font-size: 0.81rem;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #fff;
  margin-bottom: 1.5em;
}
.aboutheader__tit {
  font-family: "OldStandardTT-Regular";
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: -1.2000000477px;
  text-align: left;
  color: #fff;
}
.aboutheader__btn {
  width: 9.75em;
  height: 3.063em;
  background: #fff;
  align-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 1.2em;
}
.aboutheader__btn span {
  color: #BEAD8E;
  display: block;
  text-align: center;
  font-family: "Archivo-Regular";
  font-size: 1rem;
  font-weight: 700;
  line-height: 17.41px;
  letter-spacing: -0.4799999893px;
}
.aboutheader__btn span a {
  color: black;
  text-decoration: none;
}

.videoabout {
  width: 100%;
  margin-top: 3em;
  padding: 0 1em;
}
.videoabout__play {
  width: 100%;
  height: 100%;
  margin-bottom: 2em;
}
.videoabout p {
  font-family: "OldStandardTT-Regular";
  font-size: 2rem;
  font-weight: 400;
  line-height: 39.55px;
  letter-spacing: -1.1599999666px;
  text-align: center;
  margin-bottom: 1.5em;
}

.fourpoints {
  width: 100%;
  height: 19.75em;
  text-align: -webkit-center;
}
.fourpoints__content {
  width: 9.875em;
  height: 9.875em;
  align-content: center;
  display: inline-block;
}
.fourpoints__content__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5em;
}
.fourpoints__content__tit {
  display: block;
  font-family: "Archivo-Regular";
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 2.4000000954px;
  text-align: center;
}
.fourpoints__content:nth-child(2n+1) {
  margin-right: 1em;
}

.taketour {
  display: block;
  width: 20.938em;
  height: 44.625em;
  margin: 2em auto;
  padding: 1.25em;
}
.taketour__img {
  display: block;
  width: 18.438em;
  height: 14.5em;
  margin: 0 auto;
  margin-bottom: 2em;
}
.taketour__sub {
  font-family: "Archivo-Regular";
  font-size: 0.88rem;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.7999999523px;
  text-align: left;
  color: #777777;
  text-transform: uppercase;
  margin-bottom: 2em;
}
.taketour__tit {
  font-family: "OldStandardTT-Regular";
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 49.44px;
  letter-spacing: -1.0499999523px;
  text-align: left;
  margin-bottom: 0.7em;
}
.taketour__p {
  width: 18.438em;
  font-family: "Archivo-Regular";
  font-size: 0.88rem;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #777777;
  margin-bottom: 1em;
}
.taketour__btn {
  width: 16.563em;
  height: 4.5em;
  background-color: #BEAD8E;
  text-align: center;
  align-content: center;
  font-family: "Archivo-Regular";
  font-size: 0.81rem;
  font-weight: 700;
  line-height: 15.23px;
  letter-spacing: 2.79px;
  color: #fff;
  color: #fff;
}/*# sourceMappingURL=about.css.map */